.places{
    max-width: 984px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .places{
        padding-left: 48px;
        padding-right: 48px;
    }
}
@media screen and (max-width: 768px) {
    .places{
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (max-width: 320px) {
    .places{
        padding-left: 0;
        padding-right: 0;
    }
}