.header__land-link{
    display: flex;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    list-style-type:none;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.header__land-link:hover {
    opacity: 0.8;
}
@media screen and (max-width: 320px) {
    .header__land-link {
        font-size: 18px;
        line-height: 20px;
    }
}