.footer__columns {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .footer__columns {
        padding-right: 48px;
        padding-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .footer__columns {
        padding-right: 24px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 580px) {
    .footer__columns {
        flex-direction: column;
        padding-left: 16px;
        align-items: baseline;
    }
}