.intro__list {
    max-width: 690px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0;
    padding-bottom: 92px;
    margin: 0;
    list-style-type: none;
}
@media screen and (max-width: 320px) {
    .intro__list {
        padding-bottom: 64px;
    }
}