.cover__subtitle {
    max-width: 360px;
    margin: 0 auto;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}
@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}