.header{
    max-width: 1184px;
    margin: 28px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .header {
        padding-right: 48px;
        padding-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding-right: 24px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .header {
        padding-right: 16px;
        padding-left: 16px;
        margin: 16px auto 0;
    }
}