.place__website_url-heading{
    margin: 0;
    padding-bottom: 12px;
    max-width: 456px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}