.lead__title{
    padding-top: 48px;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}
@media screen and (max-width: 680px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        padding-top: 48px;
    }
}

