.lead__title{
    padding-top: 48px;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}
@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        padding-top: 48px;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}
