.header__land-links{
    padding-top: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
@media screen and (max-width: 320px) {
    .header__land-links {
        padding-top: 14px;
        font-size: 18px;
        line-height: 20px;
    }
}
 