.lead__subtitle{
    max-width: 640px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 64px;
    font-style: normal;
    font-weight: normal;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
        padding-bottom: 40px;
    }
}