.cover__title {
    max-width: 560px;
    margin: 0 auto;
    padding-bottom: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (max-width: 360px) {
    .cover__title {
        padding-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
        max-width: 255px;
    }
}