.place{
    display: grid;
    padding-top: 92px;
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
    row-gap: 48px;
}
@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}
@media screen and (max-width: 775px) {
    .place {
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }
}
@media screen and (max-width: 700px) {
    .place {
        grid-template-columns: 1fr;
        row-gap: 32px;
        padding-top: 50px;
    }
}
