.cover__item {
    max-width: 1184px;
    min-height: 740px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cover__item:hover{
    background: #2A2C2F;
    opacity: 0.3;
    transition: 3s;
    z-index: 2;
}
@media screen and (max-width: 1024px) {
    .cover__item {
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover__item {
        min-height: 480px;
    }
}
@media screen and (max-width: 320px) {
    .cover__item {
        min-height: 200px;
    }
}